*{
  
  padding: 0;
  font-size: 18px;
  outline: 1px rebeccapurple solid;
  
  
}
img{
  display: block;
  width: 100%;
  padding-right: 10px;
 
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
 

}
.nav-list >li {
  list-style: none;
  margin-inline: 7px;
  margin-right: 0;
 
}

.nav-linkstate{
  margin-left: auto;
  

}
.bg-color{
  background-color: black;
}
nav {
  height: 4em;
}
.set-container {
  padding: 0;
  width: 90%;
  margin: 0 auto;

}

